.youi-ad-banner {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  background-color: var(--colors-grey);

  img {
    max-width: 970px;
    min-height: 250px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
  }

  span {
    margin-top: 8px;
    color: var(--colors-text_grey);
    font-size: var(--font_sizes-xs);
  }
}
