.youi-author-badge {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-m);
  border: 1px solid var(--colors-border_grey);

  @media (min-width: 768px) {
    width: auto;
  }

  .youi-tag {
    position: absolute;
    top: 5px;
    left: -18px;
    border-radius: 2px;
    background-color: var(--colors-brand);
    color: #fff;
    font-size: 11px;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: var(--spacing-s);
    border-radius: 50%;
  }

  &__avatar {
    margin-right: var(--spacing-s);
    margin-left: 0;
  }

  &__name {
    padding-right: var(--spacing-s);
    border-right: 1px solid var(--colors-border_grey);
    font-weight: 300;
  }

  &__rep {
    padding-left: var(--spacing-s);
    font-size: var(--font_sizes-xs);

    img {
      display: none;
      width: 35px;
      height: 35px;

      @media (min-width: 992px) {
        display: inline;
      }
    }

    span {
      color: var(--colors-brand);
      font-size: var(--font_sizes-m);
      font-weight: bold;
    }
  }
}
