.youi-header {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  background-color: #000;
  color: #fff;
  text-align: center;

  @media (min-width: 992px) {
    text-align: initial;
  }

  .container {
    max-width: 850px;
  }

  // Logo
  &__logo {
    max-width: 190px;

    @media (min-width: 992px) {
      align-self: flex-start;
      max-width: 301px;
    }
  }
}
