.youi-hero {
  padding-top: var(--spacing-m);

  // Hero Image
  &__image {
    flex: 1 0 auto;
    max-width: 515px;
    width: 100%;
    height: 140px;

    @media (min-width: 992px) {
      flex: 1 0 auto;
      max-width: 505px;
      width: 100%;
      height: auto;
    }

    img {
      width: auto;
      height: 100%;

      @media (min-width: 992px) {
        width: 100%;
        height: auto;
      }
    }
  }

  // Hero Content
  &__content {
    align-self: flex-end;

    @media (min-width: 992px) {
      flex: 1 0 0;
      padding-left: var(--spacing-m);
    }

    .title {
      display: flex;
      flex-direction: column;
      font-size: var(--font_sizes-xl);
      font-weight: 300;

      @media (min-width: 992px) {
        flex-direction: row;
        font-size: var(--font_sizes-title);
      }
    }

    // Scroll Button
    .scroll-btn {
      width: 60px;
      height: 60px;
      padding: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  // Hero Info
  &__info {
    margin-top: var(--spacing-xl);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    border-top: 1px solid var(--colors-grey_dark);
    border-bottom: 1px solid var(--colors-grey_dark);
    font-size: var(--font_sizes-m);
    font-weight: 300;

    @media (min-width: 992px) {
      font-size: var(--font_sizes-l);
    }
  }
}
