.youi-question-card {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-m);
  border-bottom: 1px solid var(--colors-border_grey);

  @media (min-width: 992px) {
    flex-direction: row;
    padding-bottom: 0;
  }

  ul li:last-child & {
    border-bottom: none;
  }

  // Number
  &__number {
    padding: var(--spacing-s) 0;
    padding-left: 0;
    color: var(--colors-brand);
    font-size: var(--font_sizes-xl);
    font-weight: 300;

    @media (min-width: 992px) {
      max-width: 301px;
      padding: var(--spacing-l);
      border-right: 1px solid var(--colors-border_grey);
      font-size: var(--font_sizes-xxl);
    }
  }

  // Content
  &__content {
    padding: 0;

    @media (min-width: 992px) {
      padding: var(--spacing-l);
    }
  }

  // Title
  &__title {
    margin-bottom: var(--spacing-s);
    font-size: var(--font_sizes-l);
    font-style: normal;

    @media (min-width: 992px) {
      font-size: var(--font_sizes-xxl);
      line-height: 46px;
    }

    a {
      display: flex;
      color: #000;
      text-decoration: none;

      &:hover {
        color: var(--colors-brand);
      }

      span {
        width: 30px;
        height: 30px;
      }
    }
  }

  // Title
  &__tags {
    margin-top: var(--spacing-xs);

    .youi-tag {
      margin-right: var(--spacing-xs);
      margin-bottom: var(--spacing-xs);
    }
  }

  // Stats
  &__stats {
    padding-top: var(--spacing-s);

    @media (min-width: 992px) {
      padding-top: var(--spacing-l);
    }

    &__answers,
    &__views,
    &__link {
      padding: var(--spacing-xs);
      border: 1px solid var(--colors-border_grey);
      font-size: var(--font_sizes-xs);
      font-weight: bold;

      span {
        font-size: var(--font_sizes-l);
      }
    }

    &__answers {
      width: 50%;
      margin-right: var(--spacing-xs);

      @media (min-width: 992px) {
        width: 100px;
      }
    }

    &__views {
      width: 50%;
      border-color: var(--colors-brand);

      @media (min-width: 992px) {
        width: 100px;
      }
    }

    &__link {
      display: block;
      margin-top: var(--spacing-xs);
      background-color: var(--colors-brand_light);
      border-color: var(--colors-brand);
      color: #000;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: var(--colors-brand);
      }
    }
  }
}
