.youi-header__slider-nav {
  margin-top: var(--spacing-s);

  .ellipse {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 3px solid var(--colors-grey_dark);
    background-color: var(--colors-grey_dark);
    border-radius: 50%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: transparent;
      border-color: var(--colors-brand);
    }
  }
}
