* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colors-app_background);
  color: var(--colors-text_dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font_sizes-s);
}

a {
  color: var(--colors-brand);
}

/* Normalize */
img {
  width: 100%;
}

/* Alignment */
.text-center {
  text-align: center;
}

/* Lists */
ol.list-style-none,
ul.list-style-none {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
