:root {
  /* Colors */
  --colors-brand: #e4853d;
  --colors-brand_light: #fbf1eb;
  --colors-grey: #f5f5f5;
  --colors-grey_dark: #4f4f4f;
  --colors-app_background: #fff;
  --colors-text_grey: #888888;
  --colors-border_grey: #dddddd;

  /* Typography */
  --font_sizes-xs: 12px;
  --font_sizes-s: 16px;
  --font_sizes-m: 20px;
  --font_sizes-l: 24px;
  --font_sizes-xl: 30px;
  --font_sizes-xxl: 44px;
  --font_sizes-title: 52px;

  /* Spacing */
  --spacing-xxs: 6px;
  --spacing-xs: 10px;
  --spacing-s: 20px;
  --spacing-m: 30px;
  --spacing-l: 48px;
  --spacing-xl: 64px;
}
