.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: var(--spacing-s);
  padding-left: var(--spacing-s);

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

// Flexbox
.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
